@import '../../../app.component.scss';
@import '../../../../assets/css/cb-btn.css';
.angular-logo {
  border-radius: 50%;
}

.hero-content-line {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: clamp(0.5rem, 0.1494rem + 1.5584vw, 2rem);
}

.span {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-content-line span h1 {
  font-size: clamp(2.5rem, 1.039rem + 6.4935vw, 8.75rem);
  font-weight: 400;
}

.wide {
  margin-left: -2rem;
  padding: 0 2rem;
}

.hero-content-line img {
  width: clamp(2.1875rem, 0.6534rem + 6.8182vw, 8.75rem);
  height: clamp(2.1875rem, 0.6534rem + 6.8182vw, 8.75rem);
}

.video {
  width: 100%;
}
.video::-webkit-media-controls-start-playback-button {
  display: none !important;
}
.video::-webkit-media-controls-enclosure {
  display: none !important;
}
.video::-moz-media-controls-play-button,
.video::-moz-media-controls-stop-button {
  display: none !important;
}
.video::-ms-media-controls-start-playback-button,
.video::-ms-media-controls-stop-button {
  display: none !important;
}

.two-side {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 4rem;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: clamp(3rem, 2.7662rem + 1.039vw, 4rem);
}

.info p {
  font-size: clamp(2.1875rem, 2.056rem + 0.5844vw, 2.75rem);
}

.info a {
  font-size: clamp(1.25rem, 1.1039rem + 0.6494vw, 1.875rem);
  padding: 6rem 10rem;
}

