
  <section class="container section">
    <div class="content">
      <div class="hero-content-line">
        <span class="span">
          <h1 class="matter-light">Rick</h1>
        </span>
        <span class="span">
          <h1 class="matter-light">and</h1>
        </span>
        <span class="span">
          <h1 class="matter-light">Morty </h1>
        </span>
        <span class="span wide">
          <h1 class="roboto">API</h1>
        </span>
      </div>
      <div class="hero-content-line">
        <img class="angular-logo" src="../../../../assets/images/index/Angular logo.png" alt="">
        <span class="span">
          <h1 class="matter-light"> Term</h1>
        </span>
        <span class="span">
          <h1 class="matter-light"> Project</h1>
        </span>
      </div>
      <div class="hero-content-line">
        <span class="span">
          <h1 class="matter-light">Client-side </h1>
        </span>
        <span class="span">
          <h1 class="matter-light">Scripting</h1>
        </span>
      </div>
    </div>
  </section>

  <video class="video" src="../../../../assets/images/index/Video.m4v" controls autoplay></video>

  <section class="container section">
    <div class="content two-side">
      <div class="blob-box"></div>
      <div class="info">
        <p>Join us on an interdimensional adventure with Angular!
          Explore characters, episodes and locations from Rick and Morty 🌀 </p>

          <a class="cb-btn cb-btn_cta -md" href="https://rickandmortyapi.com/" target="_blank">
            <span class="cb-btn_cta-border"></span>
            <span class="cb-btn_cta-ripple">
                <span></span>
            </span>
            <span class="cb-btn_cta-title">
                <span data-text="More Info" class="more-info">More Info</span>
            </span>
        </a>
      </div>

    </div>
  </section>

  <section class="container section feature">
    <div class="content">
      <div class="feature-title white">
        <span class="span">
          <h1 class="matter-light ">Feature </h1>
        </span>
        <span class="span wide">
          <h1 class="roboto">Work</h1>
        </span>
      </div>
      <div class="feature-box">
        <a routerLink="character" class="feature-list">
          <div class="feature-card">
            <img src="../../../../assets/images/index/character.png" alt="">
          </div>
          <div class="feature-name">Character</div>
        </a>
        <a routerLink="episode"  class="feature-list">
          <div class="feature-card">
            <img src="../../../../assets/images/index/episode.png" alt="">
          </div>
          <div class="feature-name">Episode</div>
        </a>
        <a routerLink="location"  class="feature-list">
          <div class="feature-card">
            <img src="../../../../assets/images/index/location.png" alt="">
          </div>
          <div class="feature-name">Location</div>
        </a>
      </div>
    </div>
  </section>
  <section class="section" id="my-trigger">
    <div class="content">
      <app-text-scroll></app-text-scroll>
    </div>
  </section>
  <section class="container section member">
    <div class="content">
      <h2 class="member-title matter-light">TEAM MEMBER</h2>
      <div class="member-list">
        <div class="member-list-name">642110103 Kongphop Inyeo</div>
        <div class="member-list-task">Design & Development</div>
      </div>
      <div class="member-list">
        <div class="member-list-name">642110190 Warodom Techafong</div>
        <div class="member-list-task">Design & Development</div>
      </div>
    </div>
  </section>

