<div class="container content-list">
  <div class="content">
    <div class="list-header">
      <div>Search</div>
      <h1>Character</h1>
    </div>
    <form class="form" [formGroup]="formGroup" (ngSubmit)="doSearchDataChange()">
      <div class="paginate">
        <button type="button" (click)="doPageChange(data.info.prev)">
          👈🏻
        </button>
        <span
          >{{
            formGroup.controls.page.value ? formGroup.controls.page.value : '1'
          }}
          / {{ pages }}</span
        >
        <button type="button" (click)="doPageChange(data.info.next)">
          👉🏻
        </button>

      </div>
      <input class="search-bar" type="text" formControlName="name" placeholder="Find your character">
    </form>


  <div class="ct-content">

    <ul class="ct-lists">
      <li *ngFor="let item of data.results" class="ct-list">
        <a class="ct" [routerLink]="getId(item.url)">
          <img src="{{ item.image }}" alt="" class="ct-img"/>
          <div class="ct-desc">
            <div class="ct-name" >{{ item.name }}</div>
            -
            <div class="ct-world">{{ item.origin.name }}</div>
          </div>
        </a>
      </li>
    </ul>
  </div>

  </div>

</div>

