<header class="header h-container">
  <a routerLink="/rick-morty" class="logo">
    <img src="../../../assets/images/index/logo.svg" alt="logo">
  </a>
  <div class="hamburger" id="hamburger-1" #hamburger>
    <span class="line"></span>
    <span class="line"></span>
  </div>
</header>

<div class="nav-container">
  <nav class="menu">
    <div class="menu__item">
        <a class="menu__item-link" routerLink="/rick-morty" routerLinkActive="menu-active">HOME</a>
      <div class="marquee">
        <div class="marquee__inner">
          <span>Home - Home - Home - Home - Home - Home - Home</span>
        </div>
      </div>
    </div>
    <div class="menu__item">
        <a class="menu__item-link" routerLink="/rick-morty/character"  routerLinkActive="menu-active">CHARACTER</a>
      <div class="marquee">
        <div class="marquee__inner">
          <span
            >Character - Character - Character - Character - Character - Character
            - Character</span
          >
        </div>
      </div>
    </div>
    <div class="menu__item">
        <a class="menu__item-link" routerLink="/rick-morty/episode"  routerLinkActive="menu-active">EPISODE</a>
      <div class="marquee">
        <div class="marquee__inner">
          <span>Episode - Episode - Episode - Episode - Episode - Episode - Episode</span>
        </div>
      </div>
    </div>
    <div class="menu__item">
        <a class="menu__item-link" routerLink="/rick-morty/location"  routerLinkActive="menu-active">LOCATION</a>
      <div class="marquee">
        <div class="marquee__inner">
          <span
            >Location - Location - Location - Location - Location - Location -
            Location</span
          >
        </div>
      </div>
    </div>
  </nav>
</div>
